.header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #454545;
  z-index: 100;
}

.header-bg {
  background-color: #454545;
  color: white;
  height: 80px;
  transition: background-color 500ms, height 500ms, color 500ms;
}
